:root{
    --primary-color: #91A6FF;
    --secondary-color: #0D1321;
    --contrast-color: #C9B79C;
    --negative-space: #FFFFFF;
    --accent-color: rgb(225, 32, 225);
    --base-color: white;
    --text-color: black;
    --input-color: #F3F0FF;
    --error-color: rgb(203, 55, 55);
}

*{
    padding: 0;
    margin: 0;
}

/*temp*/

/* Display */
@media screen and (max-width: 950px){
    :root{
        font-size: 10px;
    }
}

@media screen and (min-width: 950px){
    :root{
        font-size: 10px;
    }
}

/*Global Utilities*/
.text-centered{
    text-align: center;
}

/* Header and Footer*/
header{
    background-color: var(--primary-color);
    justify-content: space-around;
    position: sticky;
    z-index: 1000;
    top:0px;

    margin-bottom: 2px;
}

#logo{
    width: 50px;
    height: 50px;
}

header nav{
    display: flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
}

footer{
    background-color: var(--primary-color);
    text-align: center;
}

/* Forms*/
.form-container{
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    /*border:1px solid blue;*/
    padding: 20px;
    gap: 10px;
}

form{
    display: grid;
    padding: 30px;
    gap: 10px;

    background-color: var(--negative-space);
    /*border: 2px solid black;*/
    border-radius: 5px;
    width: 50%;
}

#login-form{
    /*width: 50%;*/
}

.input-pair{
    display: flex;
    flex-direction: column;
}

.input-pair input{
    width: 80%;
    height: 2vw;

    border-radius: 10px;
   /* border: 2px solid black;*/
    /*transition: border 200ms;*/
}

.input-pair input:focus{
    border: 2px solid var(--primary-color);
}

/* Grid Container */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 10px;
}

/* Cards*/
.card-container{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid blue;
    padding: 5px;

    text-align: center;
}

.card img{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* Lists */
.list-container{
    /*display: flex;
    flex-direction: column;*/
    position: relative;

    border: 1px solid blue;
    margin: 20px;
}

.list-item{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}

.list-item img{
    width: 30px;
}

/* Shoping Cart icon */
#top-bar{
    display: flex;
    justify-content: right;
    position: sticky;
    background-color: var(--negative-space);

    top: 50px;
    z-index: 999;
}

#shopping-cart-icon{
    position: relative;

    width: 25px;
    height: 50px;
}

#shopping-cart-icon img{
    width: 100%;
    position: absolute;
}

#shopping-cart-icon p{
    position: absolute;
    background-color: blue;
    color: var(--negative-space);
    border-radius: 50%;

    top: 0px;
    left: 0px;

    width: 20px;
    height: 20px;
    text-align: center;
}

.hidden{
    display: none;
}

/* Checkout page */
#reciept{

}

.reciept-container{
    border: 1px solid red;
}

.reciept-item{
    display: flex;
    flex-direction: row;
    border: 1px solid blue;

    justify-content: space-around;
}

/* Iframe */
#checkout{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1001;

    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signup-login{
    display: flex;
    min-height: 100vh;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: left;
    overflow: hidden;
    justify-content:flex-end;
}

.page-wrapper{
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: 50%;
    min-width: 400px;
    padding: 40px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center; 
}
form label{
    flex-shrink: 0;
    height: 50px;
    width:50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 3px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: border-color 150ms ease;
}
form input:hover{
    border-color: var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color)
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 100px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
form button:hover{
    background-color: var(--text-color);
}
form div.incorrect label{
    background-color: var(--error-color);
}
form div.incorrect input{
    border-color:var(--error-color);
}
#error-message{
    color:var(--error-color);
}

a{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover{
    text-decoration: underline;
}

.initial{
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-color);
    text-align: center;
    font-size: 12pt;
}

.initial h1{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}